<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hepiplant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.example.hepiplant.configuration.Configuration"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable">
        <activity android:name=".CalendarActivity"></activity>
        <activity
            android:name=".PostActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SalesOfferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForumTabsActivity"
            android:exported="true" />
        <activity
            android:name=".PlantsListActivity"
            android:exported="true"
            />
        <activity android:name=".FireBase" />
        <activity android:name=".PlantAddActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ImageTest" />
        <activity android:name=".TestBackend" />
        <activity android:name=".UserActivity" />
        <activity android:name=".UserUpdateActivity"></activity>
        <activity android:name=".PostAddActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".QuestionActivity"></activity>
        <activity android:name=".SalesOfferAddActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Logowanie" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>